body {
    background-color: rgba(119, 148, 150, 0.993);
}

h1 {
    color: rgb(247, 243, 243);  
    text-align: center;
    font-size: 500%;
}
h2 {
    color: rgb(247, 243, 243)  ;
    text-align: center;
    font-size: 200%;
}
h3 {
       color: rgb(247, 243, 243)  ;
       text-align: center;
       font-size: 200%;
}

